#place{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    margin-top:40px;
}

#search-block{
    text-align:center;
}

.user-item{
    width:200px; 
    height:250px; 
    text-align:center; 
    background-color:black; 
    margin-bottom: 24px;
    opacity: 0.8;
    cursor: pointer;
}

.user-item:hover{
    opacity: 1;
}

.user-item:hover .user-image{
    transform: scale(0.8);
    transition: transform .2s linear;
}

.user-image{
    width:200px; 
    height:200px;
    transition: transform .2s linear;
    transform: scale(1);
}

#user-image{
    width:300px;
    
}

.user-name{
    color:white; 
    font-size:20px; 
}

#user-blog-url{
    font-size: 18px; 
    display:inline-block; 
    width:100%; 
    text-align:center;
}